In [1]:
import os                               
import math                             
import numpy as np                    
import pandas as pd                     
import matplotlib.pyplot as plt       
from matplotlib import cm               
from mpl_toolkits.mplot3d import Axes3D

In [2]:
stocks = [stock.split('.')[0] for stock in sorted(os.listdir("/home/ananya/Ananya/Portfolio_optmization"))]
#stocks
print(stocks)

['A2M', 'AGL', 'ALL', 'ALQ', 'ALU', 'ALX', 'AMC', 'AMP', 'ANN', 'ANZ', 'APA', 'APT', 'AST', 'ASX', 'AWC', 'AZJ', 'BEN', 'BHP', 'BLD', 'BOQ', 'BPT', 'BSL', 'BXB', 'CAR', 'CBA', 'CCL', 'CGF', 'CHC', 'CIM', 'COH', 'COL', 'CPU', 'CSL', 'CTX', 'CWN', 'CWY', 'DMP', 'DOW', 'DXS', 'EVN', 'FBU', 'FLT', 'FMG', 'FPH', 'GMG', 'GOZ', 'GPT', 'HVN', 'IAG', 'IEL', 'ILU', 'IPL', 'JBH', 'JHX', 'LLC', 'MFG', 'MGR', 'MPL', 'MQG', 'NAB', 'NCM', 'NST', 'ORG', 'ORI', 'OSH', 'QAN', 'QBE', 'QUB', 'REA', 'RHC', 'RIO', 'RMD', 'S32', 'SAR', 'SCG', 'SEK', 'SGP', 'SGR', 'SHL', 'SKI', 'SOL', 'SPK', 'STO', 'SUN', 'SVW', 'SYD', 'TAH', 'TCL', 'TLS', 'TPM', 'TWE', 'VCX', 'VEA', 'WBC', 'WES', 'WOR', 'WOW', 'WPL', 'WTC', 'XRO']

In [3]:
from azure.quantum import Workspace
workspace = Workspace (
    subscription_id = "6e02aef9-2670-4418-92b8-7659cf5605d2",
    resource_group = "azurequantum",
    name = "workspace1",
    location = "japaneast"
)

In [4]:
dates = pd.date_range('2000-01-01', '2020-03-31') 
data = pd.DataFrame({'Time': dates})  
print(data)

           Time
0    2000-01-01
1    2000-01-02
2    2000-01-03
3    2000-01-04
4    2000-01-05
...         ...
7391 2020-03-27
7392 2020-03-28
7393 2020-03-29
7394 2020-03-30
7395 2020-03-31

[7396 rows x 1 columns]

In [5]:
for stock in stocks:
    prices = pd.read_csv("/home/ananya/Ananya/Portfolio_optmization/"+stock+".csv", usecols=['Date', 'Adj Close']
                        )
    print(prices)
    prices['Date'] = pd.to_datetime(prices['Date'])  
    #print(prices)
    prices.rename(                                                            
        columns={"Date": "Time", "Adj Close": stock},
        inplace=True
    )
    
    data = pd.merge(data,prices)                                                               
    #print(data)

            Date  Adj Close
0     2015-03-31   0.565000
1     2015-04-01   0.565000
2     2015-04-02   0.555000
3     2015-04-07   0.545000
4     2015-04-08   0.540000
...          ...        ...
1264  2020-03-26  16.000000
1265  2020-03-27  15.870000
1266  2020-03-30  16.879999
1267  2020-03-31  16.600000
1268  2020-04-01  16.820000

[1269 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   4.665331
1     2000-01-05   4.606756
2     2000-01-06   4.535735
3     2000-01-07   4.654961
4     2000-01-10   4.727535
...          ...        ...
5154  2020-03-26  16.070000
5155  2020-03-27  15.930000
5156  2020-03-30  16.980000
5157  2020-03-31  17.190001
5158  2020-04-01  17.559999

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   2.925006
1     2000-01-05   2.768106
2     2000-01-06   2.690722
3     2000-01-07   2.726219
4     2000-01-10   2.910807
...          ...        ...
5154  2020-03-26  20.450001
5155  2020-03-27  20.170000
5156  2020-03-30  21.590000
5157  2020-03-31  21.350000
5158  2020-04-01  21.780001

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   0.018139
1     2000-01-05   0.017776
2     2000-01-06   0.017414
3     2000-01-07   0.017776
4     2000-01-10   0.017776
...          ...        ...
5154  2020-03-26   5.110000
5155  2020-03-27   5.390000
5156  2020-03-30   5.580000
5157  2020-03-31   5.560000
5158  2020-04-01   6.150000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   3.357754
1     2000-01-05   3.147893
2     2000-01-06   3.183872
3     2000-01-07   3.117912
4     2000-01-10   3.069946
...          ...        ...
5154  2020-03-26  26.990000
5155  2020-03-27  26.000000
5156  2020-03-30  28.020000
5157  2020-03-31  28.590000
5158  2020-04-01  28.680000

[5159 rows x 2 columns]
            Date  Adj Close
0     2010-01-25   0.498532
1     2010-01-27   0.543115
2     2010-01-28   0.684972
3     2010-01-29   0.745769
4     2010-02-01   0.770089
...          ...        ...
2570  2020-03-26   5.270000
2571  2020-03-27   5.320000
2572  2020-03-30   5.960000
2573  2020-03-31   5.510000
2574  2020-04-01   5.700000

[2575 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   1.461500
1     2000-01-05   1.440916
2     2000-01-06   1.428563
3     2000-01-07   1.451209
4     2000-01-10   1.492377
...          ...        ...
5154  2020-03-26  12.640000
5155  2020-03-27  12.540000
5156  2020-03-30  13.000000
5157  2020-03-31  13.040000
5158  2020-04-01  13.510000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-03   5.601532
1     2000-01-04   5.422170
2     2000-01-05   5.192115
3     2000-01-06   5.045533
4     2000-01-07   5.264914
...          ...        ...
5155  2020-03-26   1.235000
5156  2020-03-27   1.270000
5157  2020-03-30   1.335000
5158  2020-03-31   1.335000
5159  2020-04-01   1.410000

[5160 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   7.067056
1     2000-01-05   6.968902
2     2000-01-06   6.772593
3     2000-01-07   6.739878
4     2000-01-10   6.870749
...          ...        ...
5154  2020-03-26  23.920000
5155  2020-03-27  23.209999
5156  2020-03-30  29.030001
5157  2020-03-31  27.190001
5158  2020-04-01  28.889999

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   3.435309
1     2000-01-05   3.342020
2     2000-01-06   3.258711
3     2000-01-07   3.303420
4     2000-01-10   3.341376
...          ...        ...
5154  2020-03-26  16.700001
5155  2020-03-27  15.470000
5156  2020-03-30  16.780001
5157  2020-03-31  16.959999
5158  2020-04-01  17.049999

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-06-12   0.490646
1     2000-06-13   0.510272
2     2000-06-14   0.515179
3     2000-06-15   0.517631
4     2000-06-16   0.510272
...          ...        ...
5040  2020-03-26   9.730000
5041  2020-03-27   9.730000
5042  2020-03-30  10.410000
5043  2020-03-31  10.260000
5044  2020-04-01  10.510000

[5045 rows x 2 columns]
           Date  Adj Close
0    2017-06-29   2.700000
1    2017-06-30   2.950000
2    2017-07-03   3.000000
3    2017-07-04   3.000000
4    2017-07-05   3.180000
..          ...        ...
695  2020-03-26  19.410000
696  2020-03-27  19.100000
697  2020-03-30  18.400000
698  2020-03-31  18.799999
699  2020-04-01  20.660000

[700 rows x 2 columns]
            Date  Adj Close
0     2005-12-14   0.451139
1     2005-12-15   0.451139
2     2005-12-16   0.447670
3     2005-12-19   0.454609
4     2005-12-20   0.458082
...          ...        ...
3609  2020-03-26   1.685000
3610  2020-03-27   1.705000
3611  2020-03-30   1.735000
3612  2020-03-31   1.710000
3613  2020-04-01   1.730000

[3614 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   4.887319
1     2000-01-05   4.701733
2     2000-01-06   4.825484
3     2000-01-07   4.850200
4     2000-01-10   4.949194
...          ...        ...
5154  2020-03-26  71.300003
5155  2020-03-27  72.529999
5156  2020-03-30  77.500000
5157  2020-03-31  77.089996
5158  2020-04-01  80.500000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   1.468356
1     2000-01-05   1.423862
2     2000-01-06   1.411883
3     2000-01-07   1.466645
4     2000-01-10   1.523121
...          ...        ...
5154  2020-03-26   1.525000
5155  2020-03-27   1.445000
5156  2020-03-30   1.570000
5157  2020-03-31   1.460000
5158  2020-04-01   1.455000

[5159 rows x 2 columns]
            Date  Adj Close
0     2010-11-22   1.815949
1     2010-11-23   1.822801
2     2010-11-24   1.850212
3     2010-11-25   1.918738
4     2010-11-26   1.946149
...          ...        ...
2360  2020-03-26   4.230000
2361  2020-03-27   4.410000
2362  2020-03-30   4.830000
2363  2020-03-31   4.230000
2364  2020-04-01   4.510000

[2365 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   1.648743
1     2000-01-05   1.658536
2     2000-01-06   1.635682
3     2000-01-07   1.665066
4     2000-01-10   1.668329
...          ...        ...
5154  2020-03-26   6.150000
5155  2020-03-27   6.000000
5156  2020-03-30   6.440000
5157  2020-03-31   6.270000
5158  2020-04-01   6.450000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   4.645362
1     2000-01-05   4.537195
2     2000-01-06   4.566817
3     2000-01-07   4.792354
4     2000-01-10   4.829383
...          ...        ...
5154  2020-03-26  30.670000
5155  2020-03-27  29.030001
5156  2020-03-30  30.200001
5157  2020-03-31  28.980000
5158  2020-04-01  30.230000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-02-21   0.920672
1     2000-02-22   0.888470
2     2000-02-23   0.905517
3     2000-02-24   0.863843
4     2000-02-25   0.863843
...          ...        ...
5120  2020-03-26   2.120000
5121  2020-03-27   2.010000
5122  2020-03-30   2.020000
5123  2020-03-31   2.050000
5124  2020-04-01   2.290000

[5125 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   1.579899
1     2000-01-05   1.575149
2     2000-01-06   1.583064
3     2000-01-07   1.570402
4     2000-01-10   1.589397
...          ...        ...
5154  2020-03-26   4.940000
5155  2020-03-27   4.780000
5156  2020-03-30   5.050000
5157  2020-03-31   5.000000
5158  2020-04-01   5.080000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   0.119683
1     2000-01-05   0.127935
2     2000-01-06   0.115557
3     2000-01-07   0.123809
4     2000-01-10   0.123809
...          ...        ...
5154  2020-03-26   1.100000
5155  2020-03-27   1.045000
5156  2020-03-30   1.155000
5157  2020-03-31   1.150000
5158  2020-04-01   1.305000

[5159 rows x 2 columns]
            Date  Adj Close
0     2002-07-12  10.014264
1     2002-07-15  10.729556
2     2002-07-16  10.514903
3     2002-07-17  10.121501
4     2002-07-18  10.264543
...          ...        ...
4496  2020-03-26   8.910000
4497  2020-03-27   8.660000
4498  2020-03-30   9.160000
4499  2020-03-31   8.630000
4500  2020-04-01   9.130000

[4501 rows x 2 columns]
            Date  Adj Close
0     2001-01-02   4.719236
1     2001-01-03   4.619067
2     2001-01-04   4.674719
3     2001-01-05   4.841672
4     2001-01-08   4.797148
...          ...        ...
4894  2020-03-26  10.250000
4895  2020-03-27  10.310000
4896  2020-03-30  10.610000
4897  2020-03-31  10.560000
4898  2020-04-01  11.190000

[4899 rows x 2 columns]
            Date  Adj Close
0     2009-09-10   2.823070
1     2009-09-11   2.787694
2     2009-09-14   2.674488
3     2009-09-15   2.568357
4     2009-09-16   2.603734
...          ...        ...
2664  2020-03-26  12.230000
2665  2020-03-27  11.770000
2666  2020-03-30  12.490000
2667  2020-03-31  11.750000
2668  2020-04-01  12.990000

[2669 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   8.427186
1     2000-01-05   8.238678
2     2000-01-06   8.076181
3     2000-01-07   8.157414
4     2000-01-10   8.352425
...          ...        ...
5154  2020-03-26  61.799999
5155  2020-03-27  57.660000
5156  2020-03-30  63.950001
5157  2020-03-31  61.820000
5158  2020-04-01  63.669998

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   1.728386
1     2000-01-05   1.715358
2     2000-01-06   1.693644
3     2000-01-07   1.715358
4     2000-01-10   1.741414
...          ...        ...
5154  2020-03-26   8.450000
5155  2020-03-27   7.940000
5156  2020-03-30   8.680000
5157  2020-03-31   8.840000
5158  2020-04-01   9.220000

[5159 rows x 2 columns]
            Date  Adj Close
0     2003-12-23   1.415815
1     2003-12-24   1.360293
2     2003-12-25        NaN
3     2003-12-26        NaN
4     2003-12-29   1.374173
...          ...        ...
4119  2020-03-26   3.920000
4120  2020-03-27   3.600000
4121  2020-03-30   4.020000
4122  2020-03-31   4.000000
4123  2020-04-01   4.560000

[4124 rows x 2 columns]
            Date  Adj Close
0     2005-06-09   1.515353
1     2005-06-10   1.545657
2     2005-06-14   1.575968
3     2005-06-15   1.555760
4     2005-06-16   1.525455
...          ...        ...
3742  2020-03-26   6.350000
3743  2020-03-27   6.360000
3744  2020-03-30   6.580000
3745  2020-03-31   6.860000
3746  2020-04-01   7.200000

[3747 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   2.429723
1     2000-01-05   2.412997
2     2000-01-06   2.408815
3     2000-01-07   2.492455
4     2000-01-10   2.433908
...          ...        ...
5154  2020-03-26  24.100000
5155  2020-03-27  21.700001
5156  2020-03-30  22.850000
5157  2020-03-31  23.250000
5158  2020-04-01  23.600000

[5159 rows x 2 columns]
            Date   Adj Close
0     2000-01-04   11.817898
1     2000-01-05   11.520171
2     2000-01-06   11.787516
3     2000-01-07   11.422952
4     2000-01-10   11.817898
...          ...         ...
5154  2020-03-26  182.169998
5155  2020-03-27  166.470001
5156  2020-03-30  182.809998
5157  2020-03-31  187.449997
5158  2020-04-01  195.500000

[5159 rows x 2 columns]
           Date  Adj Close
0    2018-11-21  12.392522
1    2018-11-22  12.392522
2    2018-11-23  12.479999
3    2018-11-26  12.742429
4    2018-11-27  12.528598
..          ...        ...
339  2020-03-26  16.549999
340  2020-03-27  15.730000
341  2020-03-30  16.820000
342  2020-03-31  15.160000
343  2020-04-01  15.830000

[344 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   4.763166
1     2000-01-05   4.512471
2     2000-01-06   4.481137
3     2000-01-07   4.080027
4     2000-01-10   4.531275
...          ...        ...
5154  2020-03-26   9.220000
5155  2020-03-27   9.030000
5156  2020-03-30   9.710000
5157  2020-03-31   9.710000
5158  2020-04-01  10.080000

[5159 rows x 2 columns]
            Date   Adj Close
0     2000-01-04    4.266299
1     2000-01-05    4.247499
2     2000-01-06    4.155485
3     2000-01-07    4.066439
4     2000-01-10    4.353363
...          ...         ...
5154  2020-03-26  301.989990
5155  2020-03-27  279.119995
5156  2020-03-30  312.679993
5157  2020-03-31  296.679993
5158  2020-04-01  307.000000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   1.279309
1     2000-01-05   1.284467
2     2000-01-06   1.284467
3     2000-01-07   1.258675
4     2000-01-10   1.238040
...          ...        ...
5154  2020-03-26  22.620001
5155  2020-03-27  21.820000
5156  2020-03-30  22.299999
5157  2020-03-31  22.320000
5158  2020-04-01  23.299999

[5159 rows x 2 columns]
            Date  Adj Close
0     2007-12-03   8.034295
1     2007-12-04   7.713376
2     2007-12-05   7.521948
3     2007-12-06   7.578252
4     2007-12-07   7.685225
...          ...        ...
3112  2020-03-26   7.410000
3113  2020-03-27   7.110000
3114  2020-03-30   7.200000
3115  2020-03-31   7.600000
3116  2020-04-01   8.000000

[3117 rows x 2 columns]
            Date  Adj Close
0     2005-05-02   1.220104
1     2005-05-03   1.357365
2     2005-05-04   1.331948
3     2005-05-05   1.326863
4     2005-05-06   1.311608
...          ...        ...
3770  2020-03-26   1.660000
3771  2020-03-27   1.640000
3772  2020-03-30   1.740000
3773  2020-03-31   1.695000
3774  2020-04-01   1.805000

[3775 rows x 2 columns]
            Date  Adj Close
0     2005-05-13   1.459682
1     2005-05-16   1.512761
2     2005-05-17   1.433142
3     2005-05-18   1.459682
4     2005-05-19   1.439780
...          ...        ...
3761  2020-03-26  50.240002
3762  2020-03-27  50.570000
3763  2020-03-30  51.549999
3764  2020-03-31  51.099998
3765  2020-04-01  50.240002

[3766 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   0.803996
1     2000-01-05   0.803996
2     2000-01-06   0.803996
3     2000-01-07   0.803996
4     2000-01-10   0.803996
...          ...        ...
5154  2020-03-26   3.010000
5155  2020-03-27   2.820000
5156  2020-03-30   2.850000
5157  2020-03-31   2.980000
5158  2020-04-01   3.370000

[5159 rows x 2 columns]
            Date  Adj Close
0     2004-10-06   5.206530
1     2004-10-07   5.206530
2     2004-10-08   5.167385
3     2004-10-11   5.167385
4     2004-10-12   5.167385
...          ...        ...
3913  2020-03-26   9.220000
3914  2020-03-27   8.760000
3915  2020-03-30   9.000000
3916  2020-03-31   9.090000
3917  2020-04-01   9.630000

[3918 rows x 2 columns]
            Date  Adj Close
0     2002-08-20   0.890076
1     2002-08-21   0.890076
2     2002-08-22   0.890076
3     2002-08-23   0.983766
4     2002-08-26   0.983766
...          ...        ...
4469  2020-03-26   4.160000
4470  2020-03-27   3.860000
4471  2020-03-30   4.190000
4472  2020-03-31   3.820000
4473  2020-04-01   3.900000

[4474 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   0.736754
1     2000-01-05   0.736754
2     2000-01-06   0.636287
3     2000-01-07   0.636287
4     2000-01-10   0.709964
...          ...        ...
5154  2020-03-26   3.210000
5155  2020-03-27   3.120000
5156  2020-03-30   3.180000
5157  2020-03-31   3.240000
5158  2020-04-01   3.390000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   6.422124
1     2000-01-05   6.348851
2     2000-01-06   6.446514
3     2000-01-07   6.446514
4     2000-01-10   6.685801
...          ...        ...
5154  2020-03-26   9.910000
5155  2020-03-27   9.910000
5156  2020-03-30   9.910000
5157  2020-03-31   9.910000
5158  2020-04-01   8.920950

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   0.007212
1     2000-01-05   0.007212
2     2000-01-06   0.007812
3     2000-01-07   0.007812
4     2000-01-10   0.007812
...          ...        ...
5154  2020-03-26  10.520000
5155  2020-03-27   9.600000
5156  2020-03-30  10.100000
5157  2020-03-31  10.000000
5158  2020-04-01  10.350000

[5159 rows x 2 columns]
            Date  Adj Close
0     2001-11-21   0.762680
1     2001-11-22   0.828487
2     2001-11-23   0.838283
3     2001-11-26   0.883431
4     2001-11-27   0.929332
...          ...        ...
4663  2020-03-26  27.520000
4664  2020-03-27  27.270000
4665  2020-03-30  30.230000
4666  2020-03-31  28.840000
4667  2020-04-01  29.780001

[4668 rows x 2 columns]
            Date  Adj Close
0     2005-02-02  12.340452
1     2005-02-03  12.250793
2     2005-02-04  12.280631
3     2005-02-07  12.698962
4     2005-02-08  12.549618
...          ...        ...
3830  2020-03-26  12.460000
3831  2020-03-27  11.130000
3832  2020-03-30  11.930000
3833  2020-03-31  12.100000
3834  2020-04-01  12.460000

[3835 rows x 2 columns]
            Date  Adj Close
0     2007-07-04   4.161335
1     2007-07-05   4.161335
2     2007-07-06   4.161335
3     2007-07-09   4.205138
4     2007-07-10   4.205138
...          ...        ...
3220  2020-03-26   2.660000
3221  2020-03-27   2.530000
3222  2020-03-30   2.440000
3223  2020-03-31   2.520000
3224  2020-04-01   2.640000

[3225 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   3.896542
1     2000-01-05   3.816695
2     2000-01-06   3.784759
3     2000-01-07   3.816695
4     2000-01-10   3.848636
...          ...        ...
5154  2020-03-26   3.700000
5155  2020-03-27   3.300000
5156  2020-03-30   3.560000
5157  2020-03-31   3.630000
5158  2020-04-01   3.850000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   1.116632
1     2000-01-05   1.081436
2     2000-01-06   1.108542
3     2000-01-07   1.072130
4     2000-01-10   1.088310
...          ...        ...
5154  2020-03-26   2.782828
5155  2020-03-27   2.725252
5156  2020-03-30   2.917172
5157  2020-03-31   2.830808
5158  2020-04-01   2.850000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-08-07   1.145259
1     2000-08-08   1.253541
2     2000-08-09   1.199400
3     2000-08-10   1.195234
4     2000-08-11   1.203567
...          ...        ...
5000  2020-03-26   6.130000
5001  2020-03-27   5.770000
5002  2020-03-30   6.400000
5003  2020-03-31   6.200000
5004  2020-04-01   6.240000

[5005 rows x 2 columns]
            Date  Adj Close
0     2015-11-26   3.148574
1     2015-11-27   3.148574
2     2015-11-30   3.176355
3     2015-12-01   3.185616
4     2015-12-02   3.213398
...          ...        ...
1095  2020-03-26  11.560000
1096  2020-03-27  11.560000
1097  2020-03-30  11.560000
1098  2020-03-31  11.560000
1099  2020-04-01  11.560000

[1100 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   1.830124
1     2000-01-05   1.830124
2     2000-01-06   1.801964
3     2000-01-07   1.891126
4     2000-01-10   1.867661
...          ...        ...
5154  2020-03-26   7.290000
5155  2020-03-27   6.730000
5156  2020-03-30   6.840000
5157  2020-03-31   6.980000
5158  2020-04-01   7.170000

[5159 rows x 2 columns]
            Date  Adj Close
0     2003-07-25   0.003363
1     2003-07-28   0.003488
2     2003-07-29   0.003543
3     2003-07-30   0.003663
4     2003-07-31   0.003723
...          ...        ...
4226  2020-03-26   1.950000
4227  2020-03-27   1.900000
4228  2020-03-30   1.960000
4229  2020-03-31   2.020000
4230  2020-04-01   2.130000

[4231 rows x 2 columns]
            Date  Adj Close
0     2003-10-22   1.155038
1     2003-10-23   1.181291
2     2003-10-24   1.155038
3     2003-10-27   1.134035
4     2003-10-28   1.118289
...          ...        ...
4163  2020-03-26  25.840000
4164  2020-03-27  24.290001
4165  2020-03-30  26.850000
4166  2020-03-31  28.000000
4167  2020-04-01  30.990000

[4168 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   2.638430
1     2000-01-05   2.638430
2     2000-01-06   2.638430
3     2000-01-07   2.624723
4     2000-01-10   2.700108
...          ...        ...
5154  2020-03-26  18.000000
5155  2020-03-27  17.440001
5156  2020-03-30  18.740000
5157  2020-03-31  18.520000
5158  2020-04-01  20.000000

[5159 rows x 2 columns]
            Date  Adj Close
0     2000-01-04   8.720937
1     2000-01-05   8.413615
2     2000-01-06   8.347202
3     2000-01-07   8.367957
4     2000-01-10   8.534068
...          ...        ...
5154  2020-03-26  10.410000
5155  2020-03-27   9.530000
5156  2020-03-30  10.260000
5157  2020-03-31  10.300000
5158  2020-04-01  10.700000

[5159 rows x 2 columns]
            Date  Adj Close
0     2004-06-30   0.656691
1     2004-07-01   0.689526
2     2004-07-02   0.735496
3     2004-07-05   0.663255

In [6]:
data = data[data['Time'].dt.weekday < 5] 
data = data.dropna(axis=0, how='all') 
data.head()

,Time,A2M,AGL,ALL,ALQ,ALU,ALX,AMC,AMP,ANN,...,TWE,VCX,VEA,WBC,WES,WOR,WOW,WPL,WTC,XRO
0,2018-11-21,9.35,17.038509,24.460472,6.933038,20.987122,6.371757,12.503032,2.359322,21.896090,...,12.983171,2.437163,1.736595,23.984272,29.940374,12.926534,27.647896,29.297903,15.383970,36.669998
1,2018-11-22,9.90,17.185871,25.325384,6.952164,20.780499,6.371757,12.418805,2.378983,22.098564,...,13.722596,2.446291,1.750829,24.068626,29.340820,12.868826,27.686203,29.492359,15.773060,37.389999
2,2018-11-23,9.76,17.222712,25.199049,6.942601,20.918247,6.390664,12.503032,2.418305,21.992508,...,14.116316,2.464547,1.798277,24.406036,29.874800,12.820737,28.002232,29.723852,15.952638,37.290001
3,2018-11-26,9.58,17.056931,25.014404,6.588777,20.760818,6.466293,12.624693,2.349492,21.828600,...,13.607361,2.473675,1.883683,24.321684,29.509445,12.387929,28.011808,29.047890,16.331751,37.139999
4,2018-11-27,9.75,17.379282,25.412848,6.770471,21.055996,6.551380,12.484315,2.388813,22.185339,...,13.799419,2.482802,1.845725,24.630978,29.668701,12.609141,28.346994,29.121971,16.970255,37.500000

In [7]:
p = data .drop(['Time'], axis=1).tail(1).to_numpy()
p

array([[ 16.6     ,  17.190001,  21.35    ,   5.56    ,  28.59    ,
          5.51    ,  13.04    ,   1.335   ,  27.190001,  16.959999,
         10.26    ,  18.799999,   1.71    ,  77.089996,   1.46    ,
          4.23    ,   6.27    ,  28.98    ,   2.05    ,   5.      ,
          1.15    ,   8.63    ,  10.56    ,  11.75    ,  61.82    ,
          8.84    ,   4.      ,   6.86    ,  23.25    , 187.449997,
         15.16    ,   9.71    , 296.679993,  22.32    ,   7.6     ,
          1.695   ,  51.099998,   2.98    ,   9.09    ,   3.82    ,
          3.24    ,   9.91    ,  10.      ,  28.84    ,  12.1     ,
          2.52    ,   3.63    ,   2.830808,   6.2     ,  11.56    ,
          6.98    ,   2.02    ,  28.      ,  18.52    ,  10.3     ,
         43.52    ,   2.09    ,   2.66    ,  85.75    ,  16.68    ,
         23.049999,  10.53    ,   4.38    ,  15.35    ,   2.38    ,
          3.23    ,   8.6     ,   2.15    ,  76.989998,  57.279999,
         84.57    ,  24.690001,   1.765   ,   3.67    ,   1.565   ,
         14.83    ,   2.53    ,   2.15    ,  24.33    ,   1.95    ,
         16.969999,   4.      ,   3.42    ,   9.13    ,  11.24    ,
          5.59    ,   2.53    ,  12.04    ,   3.07    ,   6.861685,
         10.03    ,   1.035   ,   1.27    ,  16.5     ,  34.27    ,
          6.15    ,  35.099998,  18.209999,  17.1     ,  67.910004]])

In [8]:
r = data[(data['Time'].dt.weekday == 4)& (data['Time'] >= '2019-01-01')] \
    .drop(['Time'], axis=1) \
    .pct_change(fill_method='ffill')
r

,A2M,AGL,ALL,ALQ,ALU,ALX,AMC,AMP,ANN,ANZ,...,TWE,VCX,VEA,WBC,WES,WOR,WOW,WPL,WTC,XRO
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,0.060396,0.024697,0.081395,0.075153,0.114478,0.041118,0.012898,0.049587,0.036262,0.040825,...,0.059201,0.043307,0.016667,0.023172,-0.004052,0.156304,0.011604,0.042307,0.161506,0.043032
39,0.097106,-0.012287,0.013333,0.011412,0.037980,-0.011058,0.002996,0.047244,0.037685,0.032884,...,0.032997,-0.011321,0.000000,0.021085,0.017214,0.014937,0.010796,0.018942,0.012023,-0.012424
44,-0.007660,0.036364,0.044143,0.021156,0.037422,0.039935,0.021658,-0.120301,0.011673,0.004603,...,0.010430,0.000000,-0.016394,-0.010325,0.010769,0.035320,0.018692,0.011508,0.048554,0.004035
48,0.047170,-0.004617,-0.007724,0.024862,0.005211,0.030722,0.008041,-0.042735,-0.002564,-0.048110,...,0.002581,-0.011450,0.016667,-0.050232,-0.019483,0.002843,-0.035387,-0.011669,0.018227,0.023641
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,-0.013436,-0.072464,-0.115415,-0.154702,-0.099125,-0.041816,-0.061198,-0.186893,-0.050710,-0.088473,...,-0.079299,-0.080851,-0.068783,-0.084076,-0.102054,-0.094144,-0.107020,-0.137438,-0.216805,-0.156357
325,0.062905,-0.025601,-0.035941,-0.070574,-0.036039,-0.046135,-0.012504,-0.059701,-0.064865,-0.108337,...,-0.076777,0.000000,-0.042614,-0.096870,-0.035670,-0.059904,-0.008618,-0.055158,-0.003541,0.020638
330,-0.041489,-0.079357,-0.125627,-0.190476,-0.090603,-0.202614,-0.211087,-0.082540,-0.028902,-0.150858,...,-0.047000,-0.189815,-0.074184,-0.151288,-0.034439,-0.183517,-0.025000,-0.205080,-0.094478,0.069443
335,0.029281,-0.043681,-0.371551,-0.149444,-0.028889,-0.137705,0.072072,-0.093426,-0.184896,-0.147872,...,0.013641,-0.351429,-0.179487,-0.129691,-0.120740,-0.400624,0.011336,-0.237005,-0.132990,-0.231870
340,-0.018553,-0.029842,0.149943,0.007477,-0.008391,0.011407,0.053782,-0.030534,0.059334,-0.034332,...,-0.020704,-0.149780,-0.021774,-0.055802,-0.030949,0.005208,-0.071257,0.052500,0.228814,0.055870

In [9]:
mu = r.mean().to_numpy()
sigma = r.cov().to_numpy()

print(np.shape(sigma))
n=len(stocks)
print("The variance is:-\n",sigma)

(100, 100)
The variance is:-
 [[ 2.57428555e-03  4.84380474e-05  3.38228347e-04 ...  1.31444462e-04
  -3.79394806e-04  2.81591604e-04]
 [ 4.84380474e-05  8.72706369e-04  5.19041003e-04 ...  7.85229589e-04
   5.77111335e-04  4.76540534e-04]
 [ 3.38228347e-04  5.19041003e-04  4.05624983e-03 ...  2.49180775e-03
   2.21930441e-03  1.92093402e-03]
 ...
 [ 1.31444462e-04  7.85229589e-04  2.49180775e-03 ...  2.56249730e-03
   1.88403259e-03  1.58618522e-03]
 [-3.79394806e-04  5.77111335e-04  2.21930441e-03 ...  1.88403259e-03
   8.57997801e-03  2.24835455e-03]
 [ 2.81591604e-04  4.76540534e-04  1.92093402e-03 ...  1.58618522e-03
   2.24835455e-03  2.59250022e-03]]

In [10]:
from typing import List
from azure.quantum.optimization import Problem, ProblemType, Term

# mean= mu' * x
# mu' has a shape (1,100), x has a shape (100,1)
def objectiveFunction(mu)->Problem:
    terms=[]
    
    for i in range(0,n):
        
        terms.append(Term(c=mu[i] , indices=[i]))
    print(len(terms))
    #print(terms)
    return Problem(name="Portfolio Optimization problem" , problem_type=ProblemType.pubo, terms=terms)
        

# defining constraints
# x >= 0, variance <= threshold 
# variance = xT Σx

In [31]:
def greaterThanZero(weight,x):
    for i in range(100):
        terms=[]
        if x[i]<0:
            terms.append(Term(c= weight, indices=[i]))

In [43]:
def threshold(sigma, treshold, x):
    
     xT = np.transpose(x)
     print(xT)

[[ 2.57428555e-03  4.84380474e-05  3.38228347e-04 ...  1.31444462e-04
  -3.79394806e-04  2.81591604e-04]
 [ 4.84380474e-05  8.72706369e-04  5.19041003e-04 ...  7.85229589e-04
   5.77111335e-04  4.76540534e-04]
 [ 3.38228347e-04  5.19041003e-04  4.05624983e-03 ...  2.49180775e-03
   2.21930441e-03  1.92093402e-03]
 ...
 [ 1.31444462e-04  7.85229589e-04  2.49180775e-03 ...  2.56249730e-03
   1.88403259e-03  1.58618522e-03]
 [-3.79394806e-04  5.77111335e-04  2.21930441e-03 ...  1.88403259e-03
   8.57997801e-03  2.24835455e-03]
 [ 2.81591604e-04  4.76540534e-04  1.92093402e-03 ...  1.58618522e-03
   2.24835455e-03  2.59250022e-03]]

In [11]:
from azure.quantum.optimization import ParallelTempering        
problem = objectiveFunction(mu)
#problem
solver = ParallelTempering(workspace)
solver.optimize(problem)

100
...

{'version': '1.0',
 'configuration': {'0': 0,
  '1': 1,
  '2': 0,
  '3': 1,
  '4': 0,
  '5': 1,
  '6': 0,
  '7': 1,
  '8': 0,
  '9': 1,
  '10': 0,
  '11': 0,
  '12': 0,
  '13': 0,
  '14': 1,
  '15': 0,
  '16': 1,
  '17': 1,
  '18': 1,
  '19': 1,
  '20': 1,
  '21': 1,
  '22': 0,
  '23': 0,
  '24': 1,
  '25': 0,
  '26': 1,
  '27': 1,
  '28': 1,
  '29': 0,
  '30': 0,
  '31': 1,
  '32': 0,
  '33': 1,
  '34': 1,
  '35': 0,
  '36': 0,
  '37': 1,
  '38': 1,
  '39': 0,
  '40': 1,
  '41': 1,
  '42': 0,
  '43': 0,
  '44': 0,
  '45': 1,
  '46': 1,
  '47': 0,
  '48': 1,
  '49': 0,
  '50': 0,
  '51': 1,
  '52': 0,
  '53': 0,
  '54': 0,
  '55': 0,
  '56': 1,
  '57': 0,
  '58': 1,
  '59': 1,
  '60': 0,
  '61': 0,
  '62': 1,
  '63': 1,
  '64': 1,
  '65': 1,
  '66': 1,
  '67': 1,
  '68': 0,
  '69': 1,
  '70': 0,
  '71': 0,
  '72': 1,
  '73': 0,
  '74': 1,
  '75': 1,
  '76': 1,
  '77': 1,
  '78': 0,
  '79': 1,
  '80': 1,
  '81': 0,
  '82': 1,
  '83': 1,
  '84': 0,
  '85': 0,
  '86': 1,
  '87': 0,
  '88': 0,
  '89': 0,
  '90': 1,
  '91': 1,
  '92': 1,
  '93': 1,
  '94': 0,
  '95': 1,
  '96': 0,
  '97': 1,
  '98': 0,
  '99': 0},
 'cost': -0.263543,
 'parameters': {'all_betas': {'segments': [{'type': 'constant',
     'value': 38.704319},
    {'type': 'constant', 'value': 648.145963},
    {'type': 'constant', 'value': 10853.909973},
    {'type': 'constant', 'value': 181760.542293},
    {'type': 'constant', 'value': 38.704319},
    {'type': 'constant', 'value': 111.359417},
    {'type': 'constant', 'value': 320.401449},
    {'type': 'constant', 'value': 921.853682},
    {'type': 'constant', 'value': 2652.341971},
    {'type': 'constant', 'value': 7631.273887},
    {'type': 'constant', 'value': 21956.573389},
    {'type': 'constant', 'value': 63173.08514},
    {'type': 'constant', 'value': 181760.542293},
    {'type': 'constant', 'value': 38.704319},
    {'type': 'constant', 'value': 74.165338},
    {'type': 'constant', 'value': 142.115855},
    {'type': 'constant', 'value': 272.32285},
    {'type': 'constant', 'value': 521.825906},
    {'type': 'constant', 'value': 999.924452},
    {'type': 'constant', 'value': 1916.058398},
    {'type': 'constant', 'value': 3671.557161},
    {'type': 'constant', 'value': 7035.449445},
    {'type': 'constant', 'value': 13481.350477},
    {'type': 'constant', 'value': 25833.00642},
    {'type': 'constant', 'value': 49501.288604},
    {'type': 'constant', 'value': 94854.525779},
    {'type': 'constant', 'value': 181760.542293},
    {'type': 'constant', 'value': 38.704319},
    {'type': 'constant', 'value': 61.907746},
    {'type': 'constant', 'value': 99.021741},
    {'type': 'constant', 'value': 158.385756},
    {'type': 'constant', 'value': 253.338788},
    {'type': 'constant', 'value': 405.216625},
    {'type': 'constant', 'value': 648.145963},
    {'type': 'constant', 'value': 1036.712622},
    {'type': 'constant', 'value': 1658.226884},
    {'type': 'constant', 'value': 2652.341971},
    {'type': 'constant', 'value': 4242.433891},
    {'type': 'constant', 'value': 6785.793654},
    {'type': 'constant', 'value': 10853.909973},
    {'type': 'constant', 'value': 17360.881824},
    {'type': 'constant', 'value': 27768.814965},
    {'type': 'constant', 'value': 44416.354676},
    {'type': 'constant', 'value': 71044.175461},
    {'type': 'constant', 'value': 113635.504393},
    {'type': 'constant', 'value': 181760.542293},
    {'type': 'constant', 'value': 38.704319},
    {'type': 'constant', 'value': 55.898519},
    {'type': 'constant', 'value': 80.731158},
    {'type': 'constant', 'value': 116.595572},
    {'type': 'constant', 'value': 168.392574},
    {'type': 'constant', 'value': 243.200136},
    {'type': 'constant', 'value': 351.240584},
    {'type': 'constant', 'value': 507.277463},
    {'type': 'constant', 'value': 732.632949},
    {'type': 'constant', 'value': 1058.101485},
    {'type': 'constant', 'value': 1528.157796},
    {'type': 'constant', 'value': 2207.034281},
    {'type': 'constant', 'value': 3187.498261},
    {'type': 'constant', 'value': 4603.528477},
    {'type': 'constant', 'value': 6648.623061},
    {'type': 'constant', 'value': 9602.240721},
    {'type': 'constant', 'value': 13867.988306},
    {'type': 'constant', 'value': 20028.772996},
    {'type': 'constant', 'value': 28926.455582},
    {'type': 'constant', 'value': 41776.889312},
    {'type': 'constant', 'value': 60336.064184},
    {'type': 'constant', 'value': 87140.059999},
    {'type': 'constant', 'value': 125851.597371},
    {'type': 'constant', 'value': 181760.542293},
    {'type': 'constant', 'value': 38.704319},
    {'type': 'constant', 'value': 52.347145}],
   'type': 'segments'},
  'seed': 2251498681,
  'sweeps': 10},
 'solutions': [{'configuration': {'0': 0,
    '1': 1,
    '2': 0,
    '3': 1,
    '4': 0,
    '5': 1,
    '6': 0,
    '7': 1,
    '8': 0,
    '9': 1,
    '10': 0,
    '11': 0,
    '12': 0,
    '13': 0,
    '14': 1,
    '15': 0,
    '16': 1,
    '17': 1,
    '18': 1,
    '19': 1,
    '20': 1,
    '21': 1,
    '22': 0,
    '23': 0,
    '24': 1,
    '25': 0,
    '26': 1,
    '27': 1,
    '28': 1,
    '29': 0,
    '30': 0,
    '31': 1,
    '32': 0,
    '33': 1,
    '34': 1,
    '35': 0,
    '36': 0,
    '37': 1,
    '38': 1,
    '39': 0,
    '40': 1,
    '41': 1,
    '42': 0,
    '43': 0,
    '44': 0,
    '45': 1,
    '46': 1,
    '47': 0,
    '48': 1,
    '49': 0,
    '50': 0,
    '51': 1,
    '52': 0,
    '53': 0,
    '54': 0,
    '55': 0,
    '56': 1,
    '57': 0,
    '58': 1,
    '59': 1,
    '60': 0,
    '61': 0,
    '62': 1,
    '63': 1,
    '64': 1,
    '65': 1,
    '66': 1,
    '67': 1,
    '68': 0,
    '69': 1,
    '70': 0,
    '71': 0,
    '72': 1,
    '73': 0,
    '74': 1,
    '75': 1,
    '76': 1,
    '77': 1,
    '78': 0,
    '79': 1,
    '80': 1,
    '81': 0,
    '82': 1,
    '83': 1,
    '84': 0,
    '85': 0,
    '86': 1,
    '87': 0,
    '88': 0,
    '89': 0,
    '90': 1,
    '91': 1,
    '92': 1,
    '93': 1,
    '94': 0,
    '95': 1,
    '96': 0,
    '97': 1,
    '98': 0,
    '99': 0},
   'cost': -0.263543}]}